/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

.square {
  padding: 10px;
  height: 100px;
  width: 100px;
}

.floating-class {
  background: #fe5f55; /*orangey red*/
  animation: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.float-later {
  background: #9f86c0; /*lilac*/
  margin-top: 20px;
}

.float-later:hover {
  animation: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(15px);
  }
  100%  {
    transform: translateY(-0px);
  }
}

.my-animation-div {
  margin-top: 20px;
  animation: change-color 10s infinite;
}

@keyframes change-color {
  from {
    background: red;
  }
  to {
    background: yellow;
  }
}
